body {
    background: powderblue;

}
h1 {
    text-align: center;
    color: palevioletred;
}
p {
    text-align: center;
}
.yeah {
    display: block;
    text-align: center;
}
footer {
    text-align: center;
    color: rgb(19, 141, 22);
}

footer a {
    margin: 0 10px;
    color:rgb(33, 154, 149);
}

img {
    size: 30px;
}